# LetsUpgrade Python Essentials Batch-7

## Assignment Day-2

### Q1. List and it's default functions/methods

List : A list is a collection which is ordered and changeable. In Python lists are written with square brackets.

Example : example_list=["hello", "hi, "bye"]

Here, example_list is a list which contains the elements 'hello','hi','bye'

Some of the methods are: append(), pop(), copy(), index(), insert()

Some of the default functions are: len(), max(), min(), range(), list()

In [1]:
my_list = [36,42,1,4,213,199,85]

print(my_list)

[36, 42, 1, 4, 213, 199, 85]

##### List Methods

In [2]:
#append() : The append() method appends an element to the end of the list.

my_list.append(99)

print(my_list)

[36, 42, 1, 4, 213, 199, 85, 99]

In [3]:
#pop() : The pop() method removes the element at the specified position.

my_list.pop(4)

print(my_list)

[36, 42, 1, 4, 199, 85, 99]

In [4]:
# copy() : The copy() method returns a copy of the specified list.

copy_list=my_list.copy()

print(copy_list)

[36, 42, 1, 4, 199, 85, 99]

In [5]:
#index : The index() method returns the position at the first occurrence of the specified value.

my_list.index(85)

5

In [6]:
#insert : The insert() method inserts the specified value at the specified position.

my_list.insert(5,22)

print(my_list)

[36, 42, 1, 4, 199, 22, 85, 99]

##### List Functions

In [7]:
#len() : Returns the length of the list

len(my_list)

8

In [9]:
#max() : Returns the max value of the list

max(my_list)

199

In [10]:
#min() : Returns the min value of the list

min(my_list)

1

In [11]:
#range() : Returns the items between a given range

a=list(range(10))
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [12]:
#list() : Returns a list 

b=(12,123,234,1,2,32)
print(list(b))

[12, 123, 234, 1, 2, 32]

### Q2. Dictionary and it's default functions/methods

Dictionary : A dictionary is a collection which is unordered, changeable and indexed. In Python dictionaries are written with curly brackets, and they have keys and values.

Example : example_dict={"name":"john", "age":40, "address":"london}

Here, example_dict is a dictionary which contains the key-values pairs like 'name':'john'

Some of the methods are: keys(), values(), items(), update(), get()

Some of the default functions are : len(), any(), sorted(), all(), str()

In [13]:
my_dict={"name":"Abdul Haq", "age":21, "address" : "Hyderabad"}

print(my_dict)

{'name': 'Abdul Haq', 'age': 21, 'address': 'Hyderabad'}

##### Dictionary Methods

In [14]:
#keys() : Returns a list containing the dictionary's keys

my_dict.keys()

dict_keys(['name', 'age', 'address'])

In [15]:
#values() : Returns a list containing the dictionary's values

my_dict.values()

dict_values(['Abdul Haq', 21, 'Hyderabad'])

In [16]:
#items() : Returns a list containing a tuple for each key value pair

my_dict.items()

dict_items([('name', 'Abdul Haq'), ('age', 21), ('address', 'Hyderabad')])

In [17]:
#update() : Updates the dictionary with the specified key-value pairs

my_dict.update({'age':22})

print(my_dict)

{'name': 'Abdul Haq', 'age': 22, 'address': 'Hyderabad'}

In [18]:
#get() : Returns the value of the specified key

my_dict.get('name')

'Abdul Haq'

##### Dictionary Functions

In [19]:
print(my_dict)

{'name': 'Abdul Haq', 'age': 22, 'address': 'Hyderabad'}

In [20]:
#len(): Returns the length of the list

len(my_dict)

3

In [21]:
#any(): Returns true if any key of dictionary is true

any(my_dict)

True

In [22]:
#sorted(): Returns a new sorted list of keys

sorted(my_dict)

['address', 'age', 'name']

In [23]:
#all() : Returns true if all keys of dictionary are true

all(my_dict)

True

In [24]:
#str() : Returns a string which by converting the dictionary to string

str(my_dict)

"{'name': 'Abdul Haq', 'age': 22, 'address': 'Hyderabad'}"

### Q3. Sets and it's default functions/methods

Sets : A set is a collection which is unordered and unindexed. In Python sets are written with curly brackets.

Example : example_set={"apple", "mango", "grapes", "banana"}

Here, example_set is a set which contains the values 'apple','mango', etc.

Some of the methods are : add(), difference(), intersection(), union(), remove()

Some of the default functions are : all(), any(), len(), max(), sum()

In [25]:
my_set={"John Wick", "Barry Allen", "Olliver Queen", "Bruce Wayne"}
print(my_set)

{'John Wick', 'Bruce Wayne', 'Olliver Queen', 'Barry Allen'}

##### Set Methods

In [26]:
#add() : The add() method adds an element to the set.

my_set.add("Clark Kent")

print(my_set)

{'John Wick', 'Olliver Queen', 'Clark Kent', 'Barry Allen', 'Bruce Wayne'}

In [27]:
#difference() : The difference() method returns a set that contains the difference between two sets.

my_set={"John Wick", "Barry Allen", "Olliver Queen", "Bruce Wayne"}
my_set2={"Keanu Reeves", "Bruce Wayne", "Green Arrow", "Barry Allen"}

result_set=my_set.difference(my_set2)

print(result_set)

{'John Wick', 'Olliver Queen'}

In [28]:
#intersection() : The intersection() method returns a set that contains the similarity between two or more sets.

my_set3={"John Wick", "Barry Allen", "Olliver Queen", "Bruce Wayne"}
my_set4={"Keanu Reeves", "Bruce Wayne", "Green Arrow", "Barry Allen"}

result_set2=my_set3.intersection(my_set4)

print(result_set2)

{'Bruce Wayne', 'Barry Allen'}

In [29]:
#union() : The union() method returns a set that contains all items from the original set, and all items from the specified sets

my_set5={"John Wick", "Barry Allen", "Olliver Queen", "Bruce Wayne"}
my_set6={"Keanu Reeves", "Bruce Wayne", "Green Arrow", "Barry Allen"}

result_set3=my_set5.union(my_set6)

print(result_set3)

{'John Wick', 'Olliver Queen', 'Barry Allen', 'Bruce Wayne', 'Green Arrow', 'Keanu Reeves'}

In [30]:
#remove() : The remove() method removes the specified element from the set.

print(my_set)

my_set.remove('Bruce Wayne')

print(my_set)

{'John Wick', 'Bruce Wayne', 'Olliver Queen', 'Barry Allen'}
{'John Wick', 'Olliver Queen', 'Barry Allen'}

##### Set Functions

In [31]:
my_set={"John Wick", "Barry Allen", "Olliver Queen", "Bruce Wayne"}
print(my_set)

{'John Wick', 'Bruce Wayne', 'Olliver Queen', 'Barry Allen'}

In [32]:
#all() : Returns true if all elements of set are true

all(my_set)

True

In [33]:
#any() : Returns true if any element of set is true

any(my_set)

True

In [34]:
#len() : Returns the length of the set

len(my_set)

4

In [35]:
my_set2 = {2,213,32,12,123}

print(my_set2)

{32, 2, 12, 213, 123}

In [36]:
#max() : Returns largest item in set

max(my_set2)

213

In [37]:
#sum() : Returns sum of all elements in set

sum(my_set2)

382

### Q4. Tuples and it's default functions/methods

Tuple : A tuple is a collection which is ordered and unchangeable. In Python tuples are written with round brackets.

Example : example_tuple=("cat","fish","dog")

Here, example_tuple is a tuple which contains the values 'cat','fish','dog'

Some of the methods are: index(), count()

Some of the default functions are : len(), max(), min(), sum(), sorted()

In [38]:
my_tuple = ("Red","Green","Blue","Purple", "Green") 

print(my_tuple)

('Red', 'Green', 'Blue', 'Purple', 'Green')

##### Tuple Methods

In [39]:
#index() : Searches the tuple for a specified value and returns the position of where it was found

my_tuple.index("Blue")

2

In [40]:
#count() : Returns the number of times a specified value occurs in a tuple

my_tuple.count("Green")

2

##### Tuple Functions

In [41]:
#len() : Returns the length of the tuple

my_tuple = ("Red","Green","Blue","Purple", "Green") 

len(my_tuple)

5

In [42]:
#max() : Returns the max value of the tuple

my_tuple2=(23,12,4,123)

max(my_tuple2)

123

In [43]:
#min() : Returns the min value of the tuple

my_tuple2=(23,12,4,123)

min(my_tuple2)

4

In [44]:
#sum() : Returns sum of all elements in tuple

my_tuple2=(23,12,4,123)

sum(my_tuple2)

162

In [45]:
#sorted() : Returns the tuple in sorted manner.

my_tuple2=(23,12,4,123)

sorted(my_tuple2)

[4, 12, 23, 123]

### Q5. String and it's default methods

String : String literals in python are surrounded by either single quotation marks, or double quotation marks.

Example: example_str="I am the alpha"

Some of the methods are: upper(), lower(), count(), swapcase(), split(), splitlines()

In [46]:
my_str= "My name is Barry Allen and I am the fastest man alive"

print(my_str)

My name is Barry Allen and I am the fastest man alive

##### String Methods

In [47]:
#upper(): Converts string to upper case.

my_str.upper()

'MY NAME IS BARRY ALLEN AND I AM THE FASTEST MAN ALIVE'

In [48]:
#lower() : Converts string to lower case

my_str.lower()

'my name is barry allen and i am the fastest man alive'

In [49]:
#count() : Returns the number of times a specified value occurs in a string

my_str.count('Barry')

1

In [50]:
#swapcase() : Returns a string by swapping the cases.

my_str.swapcase()

'mY NAME IS bARRY aLLEN AND i AM THE FASTEST MAN ALIVE'

In [51]:
#split() : Splits the string at specified separator and returns a list

my_str.split()

['My',
 'name',
 'is',
 'Barry',
 'Allen',
 'and',
 'I',
 'am',
 'the',
 'fastest',
 'man',
 'alive']

In [52]:
#splitlines : Splits the string at line breaks and returns a list

my_str.splitlines()

['My name is Barry Allen and I am the fastest man alive']